* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

::-moz-selection {
  color: #FFB088;
}

::selection {
  color: #FFB088;
}

.container {
  max-width: 1280px;
  margin: auto;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}

.color {
  color: #CB8461;
}
.color-green {
  color: #245D51;
}

.strong {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2C2C2C;
}
.strong-color {
  color: #fff;
}

.header {
  background-color: #245D51;
}
.header-wrapper {
  padding-top: 23px;
  padding-bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  min-width: 471px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.header-menu__item {
  list-style-type: none;
}
.header-menu__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
.header-menu__link:hover {
  color: #fff;
  transition: 0.3s;
}
.header-acc {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.header__login {
  color: #fff;
  margin-right: 20px;
}
.header__reg {
  color: #fff;
  padding: 7px 43px;
  background-color: #CB8461;
  border-radius: 8px;
}

.logo {
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.main {
  background-color: #245D51;
}
.main-wrapper {
  padding-top: 48px;
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.main-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 620px;
  margin-bottom: 20px;
}
.main-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  max-width: 470px;
  margin: 0;
  margin-bottom: 40px;
}
.main-buttons {
  display: flex;
  align-items: center;
}
.main-button {
  padding: 12px 25px;
  border: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  background-color: #CB8461;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 20px;
}
.main-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.main-photo {
  position: relative;
}
.main-photo::before {
  content: "";
  position: absolute;
  top: 53px;
  left: 9px;
  width: 66px;
  height: 66px;
  background-image: url(../img/bxs-pencil.svg);
  background-repeat: no-repeat;
}
.main-photo::after {
  content: "";
  position: absolute;
  top: 140px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-image: url(../img/bxs-video.svg);
  background-repeat: no-repeat;
}
.main-photo__teacher {
  height: 100%;
}
.main-join {
  position: absolute;
  bottom: 200px;
  right: 290px;
  padding: 13px 16px;
  display: flex;
  height: 110px;
  align-items: flex-start;
  border-radius: 12px;
  background-color: #fff;
}
.main-join__text {
  color: #2C2C2C;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  width: 146px;
  line-height: normal;
  margin-bottom: 5px;
  font-family: Poppins;
}
.main-join__date {
  color: rgba(44, 44, 44, 0.7);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
  font-family: Poppins;
}
.main-avatar {
  border-radius: 40px;
  margin-right: 10px;
}

.join-button {
  padding: 6px 23px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  border-radius: 6px;
  background-color: #FF4F8E;
  font-family: Poppins;
}

.btn-text {
  margin-right: 15px;
}

.after {
  position: relative;
}
.after::after {
  content: "";
  position: absolute;
  top: -80px;
  right: -400px;
  width: 55px;
  height: 55px;
  background-image: url(../img/bxs-calendar.svg);
  background-repeat: no-repeat;
}

.clients-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 200px;
}
.clients-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2C2C2C;
  margin-bottom: 10px;
}
.clients-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: #808080;
  width: 545px;
  text-align: center;
  margin-bottom: 50px;
}
.clients-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.subscribe {
  margin-bottom: 100px;
}
.subscribe-wrapper {
  border-radius: 10px;
  background-color: #F2E7DB;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.subscribe-wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 66px;
  height: 66px;
  background-image: url(../img/sub-element.svg);
  background-repeat: no-repeat;
}
.subscribe-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  background-image: url(../img/sub-element2.svg);
  background-repeat: no-repeat;
}
.subscribe-info {
  padding: 51px 0 51px 62px;
}
.subscribe-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2C2C2C;
  width: 585px;
  margin-bottom: 30px;
}
.subscribe-button {
  padding: 15px 25px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  background-color: #245D51;
  border-radius: 4px;
}
.subscribe-photo {
  position: relative;
}
.subscribe-photo__img {
  position: absolute;
  bottom: 0;
  right: 125px;
}

.before-subscribe::before {
  content: "";
  position: absolute;
  top: 82px;
  left: -450px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon1.svg);
  background-repeat: no-repeat;
}
.before-subscribe::after {
  content: "";
  position: absolute;
  top: 82px;
  right: 54px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon2.svg);
  background-repeat: no-repeat;
}

.after-subscribe::before {
  content: "";
  position: absolute;
  bottom: -11px;
  left: -400px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon3-circle.svg);
  background-repeat: no-repeat;
}
.after-subscribe::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 90px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon5.svg);
  background-repeat: no-repeat;
}

.exist-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}
.exist-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2C2C2C;
  margin-bottom: 20px;
}
.exist-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: #808080;
  max-width: 425px;
  margin-bottom: 30px;
}
.exist-profile {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(44, 44, 44, 0.2);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.exist-profile__avatar {
  border-radius: 71px;
  margin-right: 13px;
}
.exist-profile__name {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  color: #2C2C2C;
}
.exist-profile__prof {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #808080;
}
.exist-numbers {
  display: flex;
  align-items: center;
}
.exist-number {
  display: flex;
  flex-direction: column;
  margin-right: 67px;
}
.exist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 700px;
}
.exist-list__wrap {
  max-width: 300px;
  margin-bottom: 60px;
}
.exist-icon {
  margin-bottom: 30px;
}
.exist-subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #245D51;
  margin-bottom: 10px;
}

.num {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #2C2C2C;
}

.desc {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #808080;
}

.product {
  background-color: #245D51;
  margin-bottom: 150px;
  padding: 75px 0 75px 0;
}
.product-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  position: relative;
}
.product-wrapper::before {
  content: "";
  position: absolute;
  top: 53px;
  left: 75px;
  width: 53px;
  height: 46px;
  background-image: url(../img/cub-product.svg);
  background-repeat: no-repeat;
}
.product-wrapper::after {
  content: "";
  position: absolute;
  top: 35px;
  right: 100px;
  width: 24px;
  height: 24px;
  background-image: url(../img/circle-product.svg);
  background-repeat: no-repeat;
}
.product-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.product-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  max-width: 347px;
}

.swiper-slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.swiper-slide__card {
  display: flex;
  flex-direction: column;
  max-width: 413px;
  background-color: #fff;
  border-radius: 15px;
  margin: 0 10px;
}
.swiper-slide__image {
  width: 100%;
  height: 249px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-slide__subtitle {
  margin-top: 30px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2C2C2C;
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 20px;
}
.swiper-slide__info {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 27px;
  margin-bottom: 23px;
}
.swiper-slide__left {
  display: flex;
  align-items: center;
  margin-right: 90px;
}
.swiper-slide__description {
  display: flex;
  flex-direction: column;
}
.swiper-slide__avatar {
  margin-right: 10px;
}
.swiper-slide__username {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2C2C2C;
}
.swiper-slide__prof {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #808080;
}
.swiper-slide__right {
  display: flex;
}
.swiper-slide__icon {
  margin-right: 10px;
}
.swiper-slide__price {
  display: flex;
  padding: 18px 31px;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  border-radius: 0 0 15px 15px;
}
.swiper-slide__button {
  padding: 12px 25px;
  background-color: #245D51;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  border-radius: 10px;
}
.swiper-slide__pricetag {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #808080;
}

.slider-wrapper {
  position: relative;
}
.slider-button {
  position: absolute;
  top: 48%;
  width: 63px;
  height: 63px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  z-index: 99;
  border: 7px solid #F5F5F5;
  overflow: hidden;
}
.slider-button--prev {
  background-image: url(../img/arrow-prev.svg);
  left: 0;
  transform: translateX(-50%);
}
.slider-button--prev:hover {
  background-color: #245D51;
  box-shadow: 7px 0px 20px 0px rgba(255, 255, 255, 0.15) inset;
  background-image: url(../img/arrow-prev-click.svg);
  transition: 0.3s;
}
.slider-button--next {
  background-image: url(../img/arrow-next.svg);
  right: 0;
  transform: translateX(50%);
}
.slider-button--next:hover {
  background-color: #245D51;
  box-shadow: 7px 0px 20px 0px rgba(255, 255, 255, 0.15) inset;
  background-image: url(../img/arrow-next-click.svg);
  transition: 0.3s;
}

.join {
  position: relative;
  margin-bottom: 120px;
}
.join::before {
  content: "";
  position: absolute;
  bottom: -27px;
  right: 621px;
  width: 53px;
  height: 46px;
  background-image: url(../img/cub-product.svg);
  background-repeat: no-repeat;
  z-index: 2;
}
.join-wrapper {
  background-color: #F2E7DB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 71px 67px;
  border-radius: 15px;
  position: relative;
}
.join-wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 66px;
  height: 66px;
  background-image: url(../img/sub-element.svg);
  background-repeat: no-repeat;
}
.join-title {
  color: #2C2C2C;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 635px;
}
.join-btn {
  padding: 15px 25px;
  background-color: #CB8461;
  color: #fff;
  border-radius: 4px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.join-btn--primary {
  background-color: #245D51;
  margin-left: 15px;
}

.about {
  margin-bottom: 100px;
}
.about-main-photo {
  position: relative;
  width: 412px;
  z-index: 101;
  margin-right: 130px;
}
.about-main-photo::before {
  top: 92px;
  background-image: url(../img/bxs-video.svg);
}
.about-main-photo::after {
  top: 126px;
  right: 0;
  width: 59px;
  height: 56px;
  background-image: url(../img/bxs-pencil.svg);
}
.about-main-bckg {
  bottom: 6px;
  right: -19px;
  position: absolute;
  width: 460px;
  height: 338px;
  background-color: #245D51;
  z-index: -1;
  border-radius: 200px 200px 0px 0px;
  background-position: center;
}
.about-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.about-main-join {
  bottom: 53px;
  right: 0;
}
.about-after::after {
  left: -23px;
  top: -242px;
}
.about-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #2C2C2C;
  margin-bottom: 37px;
}
.about-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: #808080;
  margin-bottom: 25px;
}
.about-info {
  display: flex;
  flex-direction: column;
  max-width: 535px;
  padding-top: 50px;
  position: relative;
}
.about-info::after {
  content: "";
  position: absolute;
  width: 249px;
  height: 20px;
  top: 113px;
  right: 130px;
  background-image: url(../img/line-title.svg);
  background-repeat: no-repeat;
}
.about-advantage {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-advantage__item {
  display: flex;
  align-items: center;
  width: 240px;
  margin-bottom: 30px;
}
.about-advantage__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  color: #2C2C2C;
}
.about-icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.price {
  margin-bottom: 100px;
}
.price-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.price-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2C2C2C;
  margin-bottom: 10px;
}
.price-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: #808080;
  width: 545px;
  text-align: center;
  margin-bottom: 50px;
}
.price-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-group__wrap {
  display: flex;
  flex-direction: column;
  max-width: 292px;
  padding: 20px 20px 30px 30px;
  margin-top: 80px;
}
.price-group__wrap__color {
  background-color: #245D51;
  color: #fff;
  position: relative;
  box-shadow: 0px 42px 34px 0px rgba(36, 93, 81, 0.3);
  border-radius: 26px;
  margin-right: 50px;
  margin-left: 60px;
  margin-top: 0;
}
.price-group__wrap__color::after {
  content: url(../img/pro-elements.svg);
  top: 0;
  right: -30px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0.1;
  z-index: 1;
}
.price-group__pricetag {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: #808080;
}
.price-group__pricetag--color {
  color: #fff;
  margin-bottom: 20px;
}
.price-group__subtitle {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #2C2C2C;
  margin-bottom: 6px;
}
.price-group__subtitle--color {
  color: #fff;
}
.price-group__desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 15px;
  color: #808080;
}
.price-group__desc--color {
  color: #fff;
}
.price-group__offer {
  text-align: right;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.833p;
  color: #fff;
  background-color: #CB8461;
  padding: 7px 17px;
  width: 114px;
  margin-left: auto;
  border-radius: 13.5px;
  margin-bottom: 3px;
  z-index: 2;
}
.price-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}
.price-list__item {
  background: url(../img/mark.svg);
  background-repeat: no-repeat;
  padding-left: 35px;
  margin-bottom: 7px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #2C2C2C;
}
.price-list__item--color {
  color: #fff;
  background: url(../img/icon-pro.svg);
  background-repeat: no-repeat;
}
.price-button {
  color: #FDC2A5;
  padding: 5px 52px;
  border-radius: 24px;
  background-color: #FFFAF8;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  width: 90%;
}
.price-button:hover {
  box-shadow: 0px 20px 50px 0px rgba(203, 132, 97, 0.1);
  transition: 0.3s;
}
.price-button--color {
  background-color: #CB8461;
  color: #fff;
}
.price-button--color:hover {
  background-color: #C37B57;
  transition: 0.3s;
  box-shadow: none;
}

.reviews {
  background-color: #F8F8F8;
}
.reviews__title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2C2C2C;
  margin-bottom: 10px;
  text-align: center;
}
.reviews__text {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: #808080;
  margin-bottom: 50px;
  text-align: center;
}

.reviews-wrapper {
  padding: 87px 0;
}
.reviews-slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.reviews-slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 413px;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.reviews-slider__item:hover {
  display: block;
  background-color: #fff;
  transition: 0.3s;
}
.reviews-slider__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px 16px 50px;
}
.reviews-slider__avatar {
  margin-bottom: 15px;
  border-radius: 75px;
  width: 75px;
  height: 75px;
}
.reviews-slider__rating {
  margin-bottom: 25px;
}
.reviews-slider__username {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #2C2C2C;
  margin-bottom: 10px;
}
.reviews-slider__txt {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: #808080;
  text-align: center;
}
.reviews-slider__button {
  bottom: 0;
  width: 63px;
  height: 63px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  z-index: 99;
  border: 7px solid #F5F5F5;
  overflow: hidden;
}
.reviews-slider__button--prev {
  background-image: url(../img/arrow-prev.svg);
  transform: translateX(-25%);
}
.reviews-slider__button--prev:hover {
  background-color: #CB8461;
  box-shadow: 7px 0px 20px 0px rgba(255, 255, 255, 0.15) inset;
  background-image: url(../img/arrow-prev-click.svg);
  transition: 0.3s;
}
.reviews-slider__button--next {
  background-image: url(../img/arrow-next.svg);
}
.reviews-slider__button--next:hover {
  background-color: #CB8461;
  box-shadow: 7px 0px 20px 0px rgba(255, 255, 255, 0.15) inset;
  background-image: url(../img/arrow-next-click.svg);
  transition: 0.3s;
}/*# sourceMappingURL=style.css.map */