* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

::-moz-selection {
  color: #FFB088;
}

::selection {
  color: #FFB088;
}

.container {
  max-width: 1280px;
  margin: auto;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}

.header {
  background-color: #245D51;
}
.header-wrapper {
  padding-top: 23px;
  padding-bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  min-width: 471px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.header-menu__item {
  list-style-type: none;
}
.header-menu__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
.header-menu__link:hover {
  color: #fff;
  transition: 0.3s;
}
.header-acc {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.header__login {
  color: #fff;
  margin-right: 20px;
}
.header__reg {
  color: #fff;
  padding: 7px 43px;
  background-color: #CB8461;
  border-radius: 8px;
}

.logo {
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.color {
  color: #CB8461;
}

.main {
  background-color: #245D51;
}
.main-wrapper {
  padding-top: 48px;
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.main-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 620px;
  margin-bottom: 20px;
}
.main-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  max-width: 470px;
  margin: 0;
  margin-bottom: 40px;
}
.main-buttons {
  display: flex;
  align-items: center;
}
.main-button {
  padding: 12px 25px;
  border: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  background-color: #CB8461;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 20px;
}
.main-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.main-photo {
  position: relative;
}
.main-photo::before {
  content: "";
  position: absolute;
  top: 53px;
  left: 9px;
  width: 66px;
  height: 66px;
  background-image: url(../img/bxs-pencil.svg);
  background-repeat: no-repeat;
}
.main-photo::after {
  content: "";
  position: absolute;
  top: 140px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-image: url(../img/bxs-video.svg);
  background-repeat: no-repeat;
}
.main-photo__teacher {
  height: 100%;
}
.main-join {
  position: absolute;
  bottom: 200px;
  right: 290px;
  padding: 13px 16px;
  display: flex;
  height: 110px;
  align-items: flex-start;
  border-radius: 12px;
  background-color: #fff;
}
.main__text {
  color: #2C2C2C;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  width: 146px;
  margin-bottom: 5px;
  font-family: Poppins;
}
.main-date {
  color: rgba(44, 44, 44, 0.7);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
  font-family: Poppins;
}
.main-avatar {
  border-radius: 40px;
  margin-right: 10px;
}

.join-button {
  padding: 6px 23px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  border-radius: 6px;
  background-color: #FF4F8E;
  font-family: Poppins;
}

.btn-text {
  margin-right: 15px;
}

.after {
  position: relative;
}
.after::after {
  content: "";
  position: absolute;
  top: -80px;
  right: -400px;
  width: 55px;
  height: 55px;
  background-image: url(../img/bxs-calendar.svg);
  background-repeat: no-repeat;
}

.clients-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 200px;
}
.clients-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2C2C2C;
  margin-bottom: 10px;
}
.clients-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: #808080;
  width: 545px;
  text-align: center;
  margin-bottom: 50px;
}
.clients-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1040px;
}

.subscribe {
  margin-bottom: 100px;
}
.subscribe-wrapper {
  border-radius: 10px;
  background-color: #F2E7DB;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.subscribe-wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 66px;
  height: 66px;
  background-image: url(../img/sub-element.svg);
  background-repeat: no-repeat;
}
.subscribe-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  background-image: url(../img/sub-element2.svg);
  background-repeat: no-repeat;
}
.subscribe-info {
  padding: 51px 0 51px 62px;
}
.subscribe-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2C2C2C;
  width: 585px;
  margin-bottom: 30px;
}
.subscribe-button {
  padding: 15px 25px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  background-color: #245D51;
  border-radius: 4px;
}
.subscribe-photo {
  position: relative;
}
.subscribe-photo__img {
  position: absolute;
  bottom: 0;
  right: 125px;
}

.before-subscribe::before {
  content: "";
  position: absolute;
  top: 82px;
  left: -450px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon1.svg);
  background-repeat: no-repeat;
}
.before-subscribe::after {
  content: "";
  position: absolute;
  top: 82px;
  right: 54px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon2.svg);
  background-repeat: no-repeat;
}

.after-subscribe::before {
  content: "";
  position: absolute;
  bottom: -11px;
  left: -400px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon3-circle.svg);
  background-repeat: no-repeat;
}
.after-subscribe::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 90px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon5.svg);
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */